<footer>
  <a href="https://github.com/ZackFox/node-simple-blog" > 
    Репозиторий проекта <i class="fa fa-github"></i>
  </a>
  <span>Backend: Node.js(Express.js)</span>
  <span>Database: mongoose.js(mLab.com)</span>
</footer>

