<header>
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/img/speak.svg" alt="logo">
        Балабол
      </a>
    </div>

    <div class="auth">      
      <% if (session.user) { %>
        <div class="user-menu" >
          <div class="header-avatar">              
            <img class="" src="/img/<%= session.user.avatar %>" />               
          </div>
          <a href="/profile/<%= session.user.nickname %>/post" class="write-button">Написать пост</a> 
          
          <div class="menu-options">
            <a href="/profile/<%= session.user.nickname %>" >Перейти в профиль</a>
            <a href="/profile/<%= session.user.nickname %>" >Оповещения</a>
            <a href="/signout" class="btn btn-warning">Выйти</a>
          </div>
        </div>
      <% } else { %> 
        <div class="sign">  
          <a href="/signup" class="btn btn-signup">Регистрация</a> 
          <a href="/" class="btn btn-success login-popup">Войти</a>
        </div>       
      <% } %>
    </div>

  </div>
</header>