//----header
include top.pug
//- include header.pug 
//------content       
.header
   a(href="/") назад

div.container     
    div.col-md-12
        form.form-horizontal(action="/profile/"+session.user.nickname+"/post" method="post")
            input(type="hidden" id="csrf" name="_csrf"  value=token)
            input(type="hidden"  name="author" value = session.user.nickname)        

            div.form-group
                label Заголвок:
                input.form-control(type="text" id="title" name="title" placeholder="Заголовок" )
            div.form-group
                label текст            
                textarea.form-control(name="text", cols="30", rows="10")
            div.form-group
                input.btn.btn-succes(type="submit" value="Отправить") 

//----footers
include footer.pug