//----header
include top.pug
link(href="/js/dist/summernote.css" rel="stylesheet")
include header.pug 

div.container.content-wrapper     
  div.row
    div.col-md-10.col-md-offset-1.post-editor
      .form-group
        input(type="hidden" id="csrf" name="_csrf"  value=token)
        input(type="hidden" id="author" name="author" value = session.user.nickname)        
        
        label Заголовок:
        input.form-control(type="text" id="title" name="title" placeholder="Заголовок" )
      //-   div.form-group
      //-     label текст            
      //-     textarea.form-control(name="text", cols="30", rows="10")
      //-   div.form-group
      
      label Текст:
      div#summernote
      button.btn.btn-success.post-submit Отправить
  
//----footers
include footer.pug
script(src="/js/dist/summernote.min.js")
script(src="/js/editor.js")