footer
    p footer here     

div.modal-wrapper  
    div.modal-login.container
        div.col-md-12
            a(href="/").modal-close Закрыть
            form.form-horizontal.loginform(action="/signin" method="post")
                input(type="hidden" id="csrf" name="_csrf"  value=token)
                p.message   
                div.form-group
                    label Введите имя пользователя:
                    input.form-control(type="text" id="email" name="email" placeholder="Email" )
                div.form-group
                    label Введите ваш пароль            
                    input.form-control(type="password" id="password" name="password" placeholder="Пароль")        
                div.form-group
                    input.btn.btn-succes(type="submit" value="Войти") 
                    //- a(href="/") Не могу вспомнить пароль
                div.form-group
                    a(href="/signup") Регистрация                    
                
script(type='text/javascript' src='/js/jquery-3.2.1.min.js')
script(type='text/javascript' src='/js/jquery.validate.min.js')
script(type='text/javascript' src="/js/bootstrap.min.js")
script(type='text/javascript' src='/js/scripts.js')

