footer
    p footer here 
    a(href="signup") Регистрация

div.modal-wrapper
    div.modal-login
        p.message
        form.loginform
            input(type="hidden" id="csrf" value=token)
            input(type="text" id="login" name="login" placeholder="Логин" )
            input(type="password" id="password" name="password" placeholder="Пароль")
            input(type="submit")    
            a(href="signup") Зарегистрироваться
            a(href="/").modal-close Закрыть
script(type='text/javascript', src='/js/jquery-1.11.2.min.js')
script(type='text/javascript', src='/js/jquery.validate.min.js')
script(type='text/javascript', src='/js/scripts.js')

