header
    div.container
        div.logo
            a(href="/") МойБложек
        if session.user                    
            nav.navbar
                ul.nav.navbar-nav
                    li 
                        a(href="/profile/posts") Посты                                  
        div.login
            if session.user
                a.btn.btn-warning(href="/signout") Выйти
            else
                a.btn.btn-success(href="/").login-popup Войти
