header
    div.container
        div.logo
            a(href="/") МойБложек
        
        nav.navbar
            ul.nav.navbar-nav
                li 
                    a(href="/") Посты                                
        div.login                    
            a(href="/").login-popup Войти
            br
            a(href="/signout") Выйти
