//----header
include top.pug
include header.pug 
//------content       
div.container 
    if session.user       
        h3 привет #{session.user.nickname}        

    ul   
        each p in posts
            li
                a(href="/profile/"+ p.author)= "Автор: " + p.author
                span= "================="
                a(href="/profile/"+ p.author +"/post/"+p._id)= p.title
//----footers
include footer.pug









    