//----header
include top.pug
include header.pug 
//------content       
div.container 
    if session.user       
        h3 привет #{session.user.nickname}        
    p
        a(href="profile/boby") страница boby
    p
        a(href="profile/Zackfox") страница zack

//----footers
include footer.pug