//----header
include top.pug
include header.pug 
//------content       
div.container
    section.tag-cloud
        a(href="#") #funny
        a(href="#") #funny
        a(href="#") #funny
        a(href="#") #funny
    section.recent
        h3 актуальный треп         
//----footers
include footer.pug