<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container content-wrapper">
      <section class="col-md-9">
        <% if (posts.length > 0) {%>
          <ul class="posts-list">              
            <% for(let post of posts) { %>
              <% include ./partials/postItem %>
            <% } %>
          </ul>  
        <% } %>
      
        <% if (pages > 1) {%>
          <span>тут страницы</span>
          <% include ./partials/pagination.ejs %>
        <% }%>
      </section>
      
      <aside class="col-md-3">
        <a href="https://github.com/ZackFox/node-simple-blog" class="git-repos" > 
          <i class="fa fa-github"></i>Репозиторий проекта 
        </a>
        <p>Backend: Node.js(Express.js)</p>
        <p>Database: mongoose.js(mLab.com)</p>
      </aside>

    </div>
    
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
  </body>
</html>