//----header
include header.pug 
//------content       
div.container
    section.tag-cloud
        a(href="#") #funny

    section.recent
        h3 актуальное         
//----footer
include footer.pug