//----header
include top.pug
include header.pug 
//------content       
div.container     
    div.row
        div.col-md-3
            img.img-polaroid(src="/img/blank_avatar.jpg" width="100")
        div.col-md-9
            div.row
                h3= post.title
            div.row
                p= post.text

//----footers
include footer.pug









    