//----header
include top.pug
include header.pug 
//------content       
div.container          
    div.row
        div.span12
            div.well.well-small.clearfix            
                div.row-fluid
                    div.col-md-2
                        img.img-polaroid(src="/img/blank_avatar.jpg" width="100")         
                    
                    div.col-md-4
                        h2 #{user.nickname} 
                        
                        if isOwn 
                            p i'm your page
                        
                        ul.unstyled 
                            li
                                p 916-241-3613
                                i.fa.fa-phone 
                            li
                                p jonniespratley@me.com
                                i.fa.fa-envelope 
                        
                    div.col-md-6
                        ul.inline.stats
                            li
                                p Постов :
                                    span 275
                            li
                                p Подписчиков :
                                    span 354

    
//----footers
include footer.pug