//----header
include top.pug
include header.pug 
//------content       
div.container         
    div.well 
        h3 #{nickname}    
        if isOwn
            p i'm your page

//----footers
include footer.pug