include top.pug
//------content       
div.container.content-wrapper
  .row
    .col-md-6.col-md-offset-3.sign-up-block
      form.signupform.form-horizontal(action="/signup", method="post")
        input(type="hidden" id="csrf" name="_csrf" value=token)
        div.row
          h3 Регистрация
        div.form-group.row
          label#info-nickname.help-block Введите ваше имя
          input.form-control.form-control-lg(type="text" id="username" name="username" placeholder="Имя на caйте*")

        div.form-group.row
          label#info-nickname.help-block Введите уникальное имя для профиля
          input.form-control.form-control-lg(type="text" id="nickname" name="nickname" placeholder="Имя профиля*")

        div.form-group.row
          label#info-email.help-block Введите уникальный адрес электронной почты
          input.form-control.form-control-lg(type="text" id="email" name="email" placeholder="Email*")
        
        div.form-group.row
          label#info-password.help-block Введите ваш пароль (не короче 6 символов)
          input.form-control.form-control-lg(type="password" id="password" name="password" placeholder="Пароль*")
        
        div.form-group.row
          <button type="submit" class="btn btn-primary">Зарегистрироваться</button>

//----footer
include footer.pug
